<app-header titulo="Date Time">
  <!--Esto llama el header que tenemos
    almacenado en components, para poder
    llamarlo desde distintas páginas y 
    facilitar futuras ediciones-->
</app-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Fecha de nacimiento</ion-label>
      <ion-datetime [value]="fechaNaci.toISOString()"></ion-datetime>
    </ion-item>

    <ion-list-header>
      <ion-label>Restricciones</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Min y Max</ion-label>
      <ion-label>Date</ion-label>
      <ion-datetime display-format="DD.MM.YYYY HH:mm"
                    min="2015-01-01"
                    max="2025-12-31"></ion-datetime>
    </ion-item>

  </ion-list>

</ion-content>