<app-header titulo="Progress - Range">
  <!--Esto llama el header que tenemos
    almacenado en components, para poder
    llamarlo desde distintas páginas y 
    facilitar futuras ediciones-->
</app-header>

<ion-content class="ion-padding">
  <ion-progress-bar type="determinate" [value]="porcentaje" color="primary"></ion-progress-bar>

  <ion-list>
    <ion-item>
      <ion-range min="0" max="100" (ionChange)="rangeChange($event)">
        <ion-icon size="small" slot="start" name="sunny"></ion-icon>
        <ion-icon slot="end" name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>

  <!-- Default Progressbar
  <ion-progress-bar></ion-progress-bar>

  Default Progressbar with 50 percent
  <ion-progress-bar value="0.5"></ion-progress-bar>

  Colorize Progressbar 
  <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
  <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>

   Other types 
  <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar> -->

</ion-content>