<app-header titulo="Cards">
  <!--Esto llama el header que tenemos
    almacenado en components, para poder
    llamarlo desde distintas páginas y 
    facilitar futuras ediciones-->
</app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
      <!--<ion-toggle slot="end"></ion-toggle>-->
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aperiam exercitationem necessitatibus, reiciendis
      id ab aut et numquam ad repudiandae deleniti suscipit animi illum accusamus, iusto delectus iste sapiente
      temporibus?
    </ion-card-content>

  </ion-card>

  <ion-card>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTak4DnQUH9-zWiF1Npx_Lmx2dt_QOtmqrBDSIjFM2F&s"
      alt="carta">

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aperiam exercitationem necessitatibus, reiciendis
      id ab aut et numquam ad repudiandae deleniti suscipit animi illum accusamus, iusto delectus iste sapiente
      temporibus?
    </ion-card-content>

  </ion-card>



</ion-content>