<app-header titulo="Input">
  <!--Esto llama el header que tenemos
    almacenado en components, para poder
    llamarlo desde distintas páginas y 
    facilitar futuras ediciones-->
</app-header>

<ion-content class="ion-padding">

  <ion-list>

    <ion-list-header>
      <ion-label>Input normal</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input type="text" placeholder="Indique su nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>

  </ion-list>

  <form #formulario="ngForm" (ngSubmit)="onSubmit()">

    <ion-list-header>
      <ion-label>Formulario Válido: {{ formulario.valid }} </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="usuario.email"
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required></ion-input>
    </ion-item>
    <!--el pattern de aquí sirve para validar email bien escrito-->

    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-input type="password" placeholder="Contraseña" name2="password" [{ngModel}]="usuario.password" required>
      </ion-input>
    </ion-item> 

    <!--Este boton estará desactivado mientras formulario sea falso/invalido-->
    <ion-button [disable]="formulario.invalid" type="submit" expand="block">
      Login
    </ion-button>

  </form>

</ion-content>